# UFO Sightings - Pre-processing Data
___
[Dataset Kaggle page](https://www.kaggle.com/NUFORC/ufo-sightings) <br>
### Boring imports

In [3]:
import pandas as pd
import numpy as np
import datetime
import re

# Enable Intellisense
%config IPCompleter.greedy=True

## Import DataFrame
Only importing relevant columns that pertain to me.

In [4]:
columns = ['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)', 'date posted', 'latitude',
       'longitude ']
ufo_df = pd.read_csv('Data/scrubbed.csv', usecols=columns)
ufo_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,datetime,city,state,country,shape,duration (seconds),date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,1/22/2004,21.4180556,-157.803611

Warning is given due to inconsistencies in data i.e. characters appearing in what should be float fields.

In [5]:
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime              80332 non-null object
city                  80332 non-null object
state                 74535 non-null object
country               70662 non-null object
shape                 78400 non-null object
duration (seconds)    80332 non-null object
date posted           80332 non-null object
latitude              80332 non-null object
longitude             80332 non-null float64
dtypes: float64(1), object(8)
memory usage: 5.5+ MB

Note how all columns except longitude are of type object. This is not ideal if you want to use any libraries for visualisation and what not.

In [6]:
ufo_df.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'date posted', 'latitude', 'longitude '],
      dtype='object')

### Rename columns

Note how longitude has a space at the end of its name. This is confusing and needs to be changed.

In [7]:
# Change 'longitude ' to 'longitude'
ufo_df['longitude']=ufo_df['longitude ']
ufo_df.drop('longitude ', axis = 1, inplace=True)
# Change 'duration (seconds)' to just 'duration'
ufo_df['duration'] = ufo_df['duration (seconds)']
ufo_df.drop('duration (seconds)', axis = 1, inplace=True)
ufo_df.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'date posted',
       'latitude', 'longitude', 'duration'],
      dtype='object')

### Fix duration column

Attempt to change duration column to numerical type.

In [8]:
pd.to_numeric(ufo_df['duration'])

ValueError: Unable to parse string "2`" at position 27822

The above error is caused because of the presence of characters in what should be float fields. Below I'll fix this using replace with a regular expression:

In [9]:
# Remove everything that is not a digit or '.'
ufo_df['duration'] = ufo_df['duration'].str.replace(r"[^\d.]+", "")
ufo_df['duration'] = pd.to_numeric(ufo_df['duration'])
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null object
city           80332 non-null object
state          74535 non-null object
country        70662 non-null object
shape          78400 non-null object
date posted    80332 non-null object
latitude       80332 non-null object
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: float64(2), object(7)
memory usage: 5.5+ MB

### Fix 'datetime'

Duration is now of type float64 which is easily passed to the visualisation libraries I will use later. Next I will attempt to convert the datetime column from type object to type DateTime. <br>
[Datetime Format Docs](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior)

In [10]:
pd.to_datetime(ufo_df['datetime'], format="%m/%d/%Y %H:%M")

ValueError: time data '10/11/2006 24:00' does not match format '%m/%d/%Y %H:%M' (match)

As you can see some of the fields are of the wrong format to be converted. Lets just list all the fields that cannot be converted to see a pattern:

In [12]:
from datetime import datetime
# Check which entries are not valid
curr_count = 0 # Ued to specify how many wrong format entries it can print
for curr_date_txt in ufo_df['datetime']:
    try:
        datetime.strptime(curr_date_txt, '%m/%d/%Y %H:%M')
    except ValueError:
        print("{} is of wrong format".format(curr_date_txt))
        curr_count+= 1 # Increment count as wrong format has been printed
        if curr_count > 20: # Exit loop once format has been printed over 20 times
            break

10/11/2006 24:00 is of wrong format
10/1/2001 24:00 is of wrong format
10/1/2012 24:00 is of wrong format
10/12/2003 24:00 is of wrong format
10/12/2013 24:00 is of wrong format
10/12/2013 24:00 is of wrong format
10/13/2004 24:00 is of wrong format
10/13/2007 24:00 is of wrong format
10/13/2012 24:00 is of wrong format
10/14/2011 24:00 is of wrong format
10/15/1952 24:00 is of wrong format
10/15/1971 24:00 is of wrong format
10/15/1978 24:00 is of wrong format
10/15/1980 24:00 is of wrong format
10/15/1983 24:00 is of wrong format
10/15/1997 24:00 is of wrong format
10/15/1999 24:00 is of wrong format
10/15/1999 24:00 is of wrong format
10/15/2002 24:00 is of wrong format
10/15/2005 24:00 is of wrong format
10/15/2008 24:00 is of wrong format

You can see that entries with the format 24:00 are of the  wrong format to convert to DateTime. Going back to the [docs](https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior) we see that hour must be in the range 0-23, thus below we'll write a function to remedy that.

In [1]:
def fix_if_midnight(date_str):
    hour = date_str.split()[1].split(":")[0]
    if (int(hour) == 24):
        # Not the best way to do this but its close enough...
        date_str = date_str.split()[0] + " 23:59"
        return(date_str)
    else:
        return(date_str)
        
fix_if_midnight("10/14/2011 24:00") # Test to see if it is working

'10/14/2011 00:00'

The function is indeed doing what is meant to be doing so next we'll apply this function to the 'datetime' column.

In [14]:
ufo_df['datetime'] = ufo_df['datetime'].apply(fix_if_midnight)
ufo_df['datetime'] = pd.to_datetime(ufo_df['datetime'], format="%m/%d/%Y %H:%M")
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null datetime64[ns]
city           80332 non-null object
state          74535 non-null object
country        70662 non-null object
shape          78400 non-null object
date posted    80332 non-null object
latitude       80332 non-null object
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 5.5+ MB

### Convert 'date posted'

'datetime' is now of type datetime. Next we'll quickly convert 'date posted' to also be of type datetime.

In [15]:
ufo_df['date posted'] = pd.to_datetime(ufo_df['date posted'])
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null datetime64[ns]
city           80332 non-null object
state          74535 non-null object
country        70662 non-null object
shape          78400 non-null object
date posted    80332 non-null datetime64[ns]
latitude       80332 non-null object
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 5.5+ MB

### Fix latitude

In [16]:
pd.to_numeric(ufo_df['latitude'])

ValueError: Unable to parse string "33q.200088" at position 43782

As you can see the latitude column has characters mixed into what should be float fields. We'll fix this next using `apply` and `re`:

In [18]:
# Remove all non digits exlcuding '-' and '.'
ufo_df['latitude'] = ufo_df['latitude'].apply(lambda x : re.sub(r"[^-.\d]", "",str(x)))
# Convert to numeric
ufo_df['latitude'] = pd.to_numeric(ufo_df['latitude'])
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null datetime64[ns]
city           80332 non-null object
state          74535 non-null object
country        70662 non-null object
shape          78400 non-null object
date posted    80332 non-null datetime64[ns]
latitude       80332 non-null float64
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: datetime64[ns](2), float64(3), object(4)
memory usage: 5.5+ MB

Latitude is now of the right type.

### Convert remaining objects
The remaining columns are categorical data and need to be converted to type 'category'.

In [19]:
ufo_df['shape'] = ufo_df['shape'].astype('category')
ufo_df['city'] = ufo_df['city'].astype('category')
ufo_df['state'] = ufo_df['state'].astype('category')
ufo_df['country'] = ufo_df['country'].astype('category')
ufo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null datetime64[ns]
city           80332 non-null category
state          74535 non-null category
country        70662 non-null category
shape          78400 non-null category
date posted    80332 non-null datetime64[ns]
latitude       80332 non-null float64
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: category(4), datetime64[ns](2), float64(3)
memory usage: 4.2 MB

Finally drop all rows with NaN values.

In [36]:
ufo_df.dropna(inplace=True)

All the columns are now of the right types and invalid data has been cleaned.
### Save DataFrame
Now to save data to csv file for easy access and use later on:

In [37]:
ufo_df.to_csv("Data/actual_scrubbed.csv", index=False) # Do not save index

Quick check to see if data has been stored correctly and is of the correct types:

In [34]:
new_df = pd.read_csv("Data/actual_scrubbed.csv")
new_df.head()

,datetime,city,state,country,shape,date posted,latitude,longitude,duration
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2004-04-27 00:00:00,29.883056,-97.941111,2700.0
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,2005-12-16 00:00:00,29.384210,-98.581082,7200.0
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,2008-01-21 00:00:00,53.200000,-2.916667,20.0
3,1956-10-10 21:00:00,edna,tx,us,circle,2004-01-17 00:00:00,28.978333,-96.645833,20.0
4,1960-10-10 20:00:00,kaneohe,hi,us,light,2004-01-22 00:00:00,21.418056,-157.803611,900.0

In [35]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
datetime       80332 non-null object
city           80332 non-null object
state          74535 non-null object
country        70662 non-null object
shape          78400 non-null object
date posted    80332 non-null object
latitude       80332 non-null float64
longitude      80332 non-null float64
duration       65536 non-null float64
dtypes: float64(3), object(6)
memory usage: 5.5+ MB

**Pandas will not automatically know the types of those besides numerical data so either specify them in read_csv or convert the columns afterwards.**

## Split datetime to seperate columns
This may be unnecessary for your use but this makes some visualisations simpler to do. I don't think date posted has any meaningful data so I am not going to worry about that.

In [54]:
ufo_df['year']= ufo_df['datetime'].map(lambda x: x.year)
ufo_df['month'] = ufo_df['datetime'].map(lambda x: x.month)
ufo_df['day'] = ufo_df['datetime'].map(lambda x: x.day)
ufo_df.drop(["datetime","date posted"], axis=1, inplace = True)
ufo_df.head()

,city,state,country,shape,latitude,longitude,duration,year,month,day
0,san marcos,tx,us,cylinder,29.883056,-97.941111,2700.0,1949,10,10
3,edna,tx,us,circle,28.978333,-96.645833,20.0,1956,10,10
4,kaneohe,hi,us,light,21.418056,-157.803611,900.0,1960,10,10
5,bristol,tn,us,sphere,36.595000,-82.188889,300.0,1961,10,10
7,norwalk,ct,us,disk,41.117500,-73.408333,1200.0,1965,10,10

**Save DataFrame**

In [55]:
ufo_df.to_csv("Data/actual_scrubbed_1.csv", index=False) # Do not save index